*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#app {
    width: 100vw;
    height: 100vh;
}

.gui{
    position: absolute;
    color: white;
    display: flex;
    flex-flow: column;
    right: 0%;
    margin: 20px;

}


.gui .vector span{
    font-size: 120%;
}

.gui .vector input{
    margin: 2px;
    border-radius: 5px;
    border: 1px solid rgba(133, 133, 133, 0.276);
    padding: 5px;
    font-size: 120%;
    width: 60px;
    text-align: center;
}
.gui .coolButton{
    width: 100%;
    background-color: white;
    color: black;
    padding: 5px 25px;
    cursor: pointer;
    text-align: center;
    margin: 5px 0;
    border-radius: 5px;
}